<template>
  <div>
    <md-empty-state
      class="md-primary"
      md-rounded
      md-icon="done"
      md-label="Appel terminé !">
      <router-link :to="{name: 'ChoixClasse'}">
        <md-button class="md-primary md-raised">Retour au choix</md-button>
      </router-link>
    </md-empty-state>
  </div>
</template>

<script>
export default {
  name: 'AppelFini',
  created() {
    document.addEventListener('keyup', this.listenerEnter);
  },
  destroyed() {
    document.removeEventListener('keyup', this.listenerEnter);
  },
  methods: {
    listenerEnter(evt) {
      if (evt.keyCode === 13) {
        this.$router.push({ name: 'ChoixClasse' });
      }
    },
  },
};
</script>

<style scoped>
</style>
