<template>
  <div class="centrer">
    <div v-if="chargement">
      <md-progress-spinner :md-diameter="200"
                           :md-stroke="20"
                           md-mode="indeterminate"></md-progress-spinner>
    </div>
    <div v-else>
      <div class="md-layout selection-classe">
        <div class="md-layout-item md-alignment-center-center">
          <md-field>
            <md-select placeholder="Classe"
                       v-model="classeSelectionnee">
              <md-option v-for="classe in classes"
                         :value="classe"
                         v-bind:key="classe">
                {{classe}}
              </md-option>
            </md-select>
          </md-field>
          <router-link :to="{name: 'FaireAppel', params: {classe: classeSelectionnee}}">
            <md-button class="md-raised md-primary"
                       v-bind:disabled="classeSelectionnee == null">
              GO !
            </md-button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'ChoixClasse',
  data() {
    return {
      classes: [],
      erreurs: [],
      chargement: true,
      classeSelectionnee: null,
    };
  },
  async created() {
    try {
      const prefixUrl = process.env.PREFIX;
      const response = await axios.get(`${prefixUrl}/api/classes`);
      this.classes = response.data;
      this.chargement = false;
    } catch (e) {
      this.erreurs.push(e);
    }
  },
};
</script>

<style scoped>
  .selection-classe {
    padding: 18px;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centrer {
    padding-top: 100px;
    width: 400px;
    margin: auto;
  }
</style>
