<template>
  <div class="centrer">
    <div v-if="chargement">
      <md-progress-spinner :md-diameter="200"
                           :md-stroke="20"
                           md-mode="indeterminate"></md-progress-spinner>
    </div>
    <div v-if="!chargement">
      <div>
        <span class="md-display-3">{{ appel[indexEleve].eleve.nom }}</span>
        <span class="md-display-2">{{ appel[indexEleve].questionReponse.question }}</span>
        <span v-if="reponseEstAffichee" class="md-display-1">
          Réponse : {{ appel[indexEleve].questionReponse.reponse }}
        </span>
        <span v-else class="md-display-1">&nbsp;</span>
        <md-button class="md-raised md-primary"
                   v-on:click="elevePrecedent"
                   v-bind:disabled="indexEleve == 0">
          Précédent
        </md-button>
        <md-button v-if="!reponseEstAffichee" class="md-raised md-primary"
                   v-on:click="montrerReponse">
          Afficher réponse
        </md-button>
        <md-button v-if="reponseEstAffichee" class="md-raised md-primary"
                   v-on:click="eleveSuivant">
          Suivant
        </md-button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'FaireAppel',
  data() {
    return {
      appel: [],
      erreurs: [],
      indexEleve: 0,
      reponseEstAffichee: false,
      chargement: true,
    };
  },
  async created() {
    document.addEventListener('keyup', this.listenerNavigation);

    try {
      const prefixUrl = process.env.PREFIX;
      const response = await axios.get(`${prefixUrl}/api/appelClasse/${this.$route.params.classe}`);
      this.appel = response.data.appelEleves;
      this.chargement = false;
    } catch (e) {
      this.erreurs.push(e);
    }
  },
  destroyed() {
    document.removeEventListener('keyup', this.listenerNavigation);
  },
  methods: {
    elevePrecedent() {
      if (this.indexEleve > 0) {
        this.indexEleve = this.indexEleve - 1;
        this.reponseEstAffichee = false;
      }
    },
    eleveSuivant() {
      if (this.indexEleve < this.appel.length - 1) {
        this.indexEleve = this.indexEleve + 1;
        this.reponseEstAffichee = false;
      } else {
        this.$router.push({ name: 'AppelFini' });
      }
    },
    montrerReponse() {
      this.reponseEstAffichee = true;
    },
    listenerNavigation(evt) {
      const flecheDroite = 39;
      const flecheGauche = 37;
      if (evt.keyCode === flecheDroite) {
        if (this.reponseEstAffichee) {
          this.eleveSuivant();
        } else {
          this.montrerReponse();
        }
      } else if (evt.keyCode === flecheGauche) {
        this.elevePrecedent();
      }
    },
  },
};
</script>

<style scoped>
  div > span {
    margin: .5em 0;
    display: block;
  }

  .centrer{
    padding-top: 100px;
  }
</style>
